<!--
 *  Views are loaded as plain text files so that you can use your own template
 *  parser with them, or just put HTML code into them and use them directly.
 *
 *  For example, this view uses the Mu template engine, and the template code
 *  below can be accessed at Ni.views.calculator.template.
 *  
 *  Note: Make sure that you have unique names for your files, regardless of
 *  file extension. For example, you should have just calculator.html, and not
 *  calculator.html and calculator.js. That way, Ni.views.calculator will
 *  point to one definite file.
 */
-->

Result: <b>{{result}}</b>
